*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

    /* header */
.navigation{
    padding-top: 0.4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-height: 4.2rem;
}

.logo-link{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 100;
    font-style: italic;
    font-size: 0.8rem;
    margin-right: 2rem;
}

.logo{
    width: 40%;
    margin-right: -0.6rem;
}

.logo-text{
    color: #30a5ca;
    padding-top: 0.2rem;
    font-family: 'Uchen', serif;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.menu-icon{
    padding: 1.5rem 0 1rem 0.7rem;
    cursor: pointer;
}

.sub-menu{
    position: absolute;
    display: none;
    background-color: #ffffff;
    padding: 0 1rem 0 2rem;
    margin: -0.5rem 0.8rem 0 -1.5rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.7rem;
}

.sub-menu--link{
    color: #1951A7;
}

.menu-icon:hover .sub-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

 /* explore*/
.explore{
  background-image: url(./images/main\ image\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-height: 30.7rem;
}

.explore-texts{
   padding: 10rem 0 2.6rem 0;
   width: 13em;
   margin-left: 1rem;
}

.explore-heading{
    color: #384e96;
    font-size: 2rem;
    font-weight: 900;
}

.explore-text{
    color: #ffffff;
    padding-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 2rem;
}

.btn-1{
    display: block;
    cursor: pointer;
    background-color: #384e96;
    color: #ffffff;
    font-weight: bold;
    width: 9rem;
    padding: 0.3rem 0rem;
    margin: 0 0 0 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.btn-1:hover{
    background-color: #ffffff;
    color: #384e96;
}

/* main container */
.container{
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* form */
.form{
    margin-top: 1rem;
    text-align: center;
    color: #384e96;
}

.map{
    width: 100%;
    margin-bottom: 1rem; 
}

.form-heading{
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 1.5rem 1rem 1.5rem;
}

.form-text{
    font-size: 1.3rem;
    font-weight: 550;
}

.btn-2{
    width: 10rem;
    display: block;
    cursor: pointer;
    margin: 2rem auto;
    font-size: 1rem;
    padding: 0.8rem 0;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    background-color: #384e96; 
}

.btn-2:hover{
    background-color: #dfdfdf;
    color: #384e96;
}

/* destination */
.destination{
   background-color: #e8f6f9;
   display: flex;
   flex-direction: column;
   align-items: center; 
}

.destination-heading{
    width: 90%;
    margin: 2.2rem 0 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #384e96; 
}

.destination-text{
    font-size: 1.2rem;
    font-weight: 600;
    width: 90%;
    text-align: center;
    line-height: 2rem;
    color: #384e96;
    padding-bottom: 1.5rem; 
}

.cities{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city{
    width: 85%;
}

.img{
    width: 100%;
    margin-bottom: 1rem;
}

.imgh{
    min-height: 22.13rem;
}

.imgtxt{
  color: #ffffff;
  position: absolute;
  margin: -5rem 0 0 1.5rem;
  font-weight: bold;
  font-size: 2rem;   
}

.btn-3{
    display: block;
    cursor: pointer;
    margin: 2rem 0;
    font-size: 1rem;
    padding: 0.7rem 2.5rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    background-color: #384e96; 
}

.btn-3:hover{
    background-color: #dfdfdf;
    color: #384e96; 
}

/* travel updates */

.travel{
    width: 80%;
    margin-bottom: 1rem;
}

.travel-heading{
    color: #384e96;
    margin: 2rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.travel-update--1{
    margin: 1rem auto;
    width: 100%;
    background-image: url(./images/1st\ T.U.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-height: 30.1rem;
 
}

.travel-update--2{
    margin: 1rem auto;
    width: 100%;
    background-image: url(./images/2nd\ T.U.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-height: 30.1rem;
}

.travel-update--3{
    margin: 1rem auto;
    width: 100%;
    background-image: url(./images/3rd\ T.U.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-height: 30.1rem;
}

.date{                                                           
    color: #ffffff;
    text-align: start;
    font-size: 1.5rem;
    font-weight: 500; 
    padding: 3rem 0 4rem 1rem;
}

.travel-update--text{
    color: #ffffff;
    text-align: start;
    font-size: 2rem;
    font-weight: bold; 
    padding: 3.5rem 1rem 3rem 1rem;
}

.likes{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0 2rem 2rem 2rem;
}

.number{
    margin-left: 0.5rem;
    flex-grow: 5;
}

/* lounge */
.lounge{
    text-align: center;
    padding-bottom: 3rem;
}

.lounge-heading{
    color: #384e96;
    margin: 1rem 0 3rem 0;
    font-weight: bold;
    font-size: 2rem;
}

.img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.round-img{
    width: 60%;
}

.img-box--name{
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
    color: #1951A7;
}

.country{
    font-weight: 300;
    color: #1951A7;
    opacity: 0.5;
}

.img-box--text{
    font-weight: 275rem;
    width: 68%;
    font-size: 1.25rem;
    line-height: 1.8rem;
}

/* footer */
.icons{
    background-color: #5dbfdd28;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-icon{
    background-color: #ffffff;
    box-shadow: 0 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
    margin: 2rem 0 1rem 0;
    width: 9.1rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-heading{
    color: #1951A7;
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 100rem;
}

.icon-text{
    color: #000000cb;
    width: 75%;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;
}

/* destination page */

 .heading{
    background-image: url(./images/main\ image\ 2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 2rem;
 }

 .heading-text{
    color: #ffffff;
    text-align: center;
    padding: 2.5rem 0;
    font-size: 2.25rem;
 }

.location{
    width: 100%;
}

 .location-heading, .blog-head{
    width: 100%;
    background-color: #384e9618;
    color: #1951A7;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
 }

.places{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

 .places-heading{
    width: 95%;
    padding: 2rem 0 1.5rem 0;
    color: #1951A7;
    font-size: 1.5rem;
 }

 .places-text{
    width: 90%;
    line-height: 1.5rem;
 }

 .places-img{
    margin: 2rem 0;
    width: 90%;
 }

 /* tour page  */

 .tour{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }

 .escape{
     width: 90%;
 }

 .tour-img{
    margin: 0 auto;
    width: 100%;
 }

   /* escape pages */
 
   .offers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 2rem 0;
   }
  
   .escape-dubai{
    text-align: center;
   }

   .zanzibar, .dubai, .maldives, .blog{
    width: 90%;
  }
 
  .img-es{
     width: 100%;
  }

 .offers-heading{
    width: 90%;
    font-size: 1.6rem; 
    font-weight: bold;
    color: #1951A7;
    padding: 2rem 0;
    text-align: center;
 }

 .offers-heading--sub{
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 1rem 0;
    text-align: center;
 }

 .offers-text{
    width: 90%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    color: #000000;
 }

 .offers-list{
    text-align: start;
    width: 90%;
    line-height: 1.7rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
    color: #000000;
 }

 .blogs{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin: 0 auto;
 }

 .blog{
    margin-top: 2.5rem;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 2rem; */
 }

 .text{
    width: 100%;
    text-align: center;
 }

 .blog-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    width: 95%;
    margin: 0 auto;
 }

 /* traverler's lounge  */
 
  .lounge-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .lounge-img{
    padding: 1rem;
  }